extends layout

block content

  div.container
    h2 Demostration API Rest

  div#exTab2.container
    ul.nav.nav-tabs
      li.active
        a(href="#1", data-toggle="tab") Get user by user id
      li
        a(href="#2", data-toggle="tab") Get user by user name
      li
        a(href="#3", data-toggle="tab") Get the list of policies by user name
      li
        a(href="#4", data-toggle="tab") Get ths user linked by policy number

  div.tab-content
    div#1.tab-pane.active
      include tabs/get_user_by_id_tab
    div#2.tab-pane
      include tabs/get_user_by_name_tab
    div#3.tab-pane
      include tabs/get_policies_by_user_name_tab
    div#4.tab-pane
      include tabs/get_user_by_policy_number_tab


  script(type="text/javascript", src="/javascripts/show_data.js")

