h3 Get user data filtered by user name
ul
    li Type: GET
    li Url: http://localhost:3000/api/userByName
    li Params:
        ul
            li name -> Name of the user
            li role -> [user or admin]
    li Response: A JSON with result:[ok or error] and msg:[data or error message]
    li Example: http://localhost:3000/api/userByName?name=Britney&role=admin
hr
form
    h3 Client for this petition
    input.request_number(type="hidden" value="1")
    p
        div.form-group
            label Name
            input.form-control.id_petition(type="text", name="name", placeholder="User name")
        div.form-group
            label Role
            select.form-control.role_petition(name="role")
                option(selected, value='user') User
                option(value='admin') Admin
    button.botton_submit.btn.btn-primary(type="submit") Submit

    hr

    h3 Result:
    ul.result_list