h3 Get the user data filttering by user id
ul
    li Type: GET
    li Url: http://localhost:3000/api/userById
    li Params:
        ul
            li id -> Id of the user
            li role -> [user or admin]
    li Response: A JSON with result:[ok or error] and msg:[data or error message]
    li Example: http://localhost:3000/api/userById?id=a0ece5db-cd14-4f21-812f-966633e7be86&role=admin
hr
form
    h3 Client for this petition:
    input.request_number(type="hidden" value="0")
    p
        div.form-group
            label Id
            input.form-control.id_petition(type="text", name="id", placeholder="User id")
        div.form-group
            label Role
            select.form-control.role_petition(name="role")
                option(selected, value='user') User
                option(value='admin') Admin
    button.botton_submit.btn.btn-primary(type="submit") Submit

    hr

    h3 Result:
    ul.result_list