h3 Get the user linked to a policy number
ul
    li Type: GET
    li Url: http://localhost:3000/api/usersByPolicieNumber
    li Params:
        ul
            li id -> Id of the policy
            li role -> [user or admin]
    li Response: A JSON with result:[ok or error] and msg:[data or error message]
    li Example: http://localhost:3000/api/usersByPolicieNumber?id=64cceef9-3a01-49ae-a23b-3761b604800b&role=admin
hr
form
    h3 Client for this petition
    input.request_number(type="hidden" value="3")
    p
        div.form-group
            label Policy number
            input.form-control.id_petition(type="text", name="name", placeholder="Policy number")
        div.form-group
            label Role
            select.form-control.role_petition(name="role")
                option(selected, value='user') User
                option(value='admin') Admin
    button.botton_submit.btn.btn-primary(type="submit") Submit

    hr

    h3 Result:
    ul.result_list